/* ==========================================================================
   center-clases
   ========================================================================== 
*/

.center-block
{
	display : block;
	margin-left: auto;
	margin-right : auto;
	float : none;
}

.text-center
{
	text-align : center;
}

/* ==========================================================================
   Only Classes
   ========================================================================== 
*/

.text-center-only-small
{
	text-align: center;
}

.center-block-only-small
{
	display: block;
	margin: 0 auto
}


/* ==========================================================================
   Responsive
   ========================================================================== 
*/


@media only screen and (min-width: 600px) 
{
    /* For tablets: */

    /* only-overrides */
    .text-center-only-small
    {
    	text-align: initial;
    }

	.center-block-only-small
	{
		display: inline;
	}

}

@media only screen and (min-width: 768px) 
{
    /* For desktop: */

    /* center */
    
}

/* ==========================================================================
   Utilities
   ========================================================================== 
*/

.little-padding
{
	padding: 0.5em;
}

.error
{
	color: #cc0000;
	font-size : 1.5em;
}
