/* ==========================================================================
   center-clases
   ========================================================================== 
*/

.center-block
{
	display : block;
	margin-left: auto;
	margin-right : auto;
	float : none;
}

.text-center
{
	text-align : center;
}

/* ==========================================================================
   Only Classes
   ========================================================================== 
*/

.text-center-only-small
{
	text-align: center;
}

.center-block-only-small
{
	display: block;
	margin: 0 auto
}

.error
{
	color: #cc0000;
	font-size : 1.5em;
}

/* ==========================================================================
   Backgrounds
   ========================================================================== 
*/

.bg-gray
{
  background-color: #333333;
}

/* ==========================================================================
   Fonts
   ========================================================================== 
*/

.text-large
{
  font-size: 8em !important;
}

.text-large-less
{
  font-size: 5em !important;
}


/* ==========================================================================
   Utilities
   ========================================================================== 
*/

.little-padding
{
  padding: 0.5em;
}

/* ==========================================================================
   Responsive
   ========================================================================== 
*/


@media only screen and (min-width: 600px) 
{
    /* For tablets: */

    /* only-overrides */
    .text-center-only-small
    {
      text-align: initial;
    }

  .center-block-only-small
  {
    display: inline;
  }

}

@media only screen and (min-width: 768px) 
{
    /* For desktop: */

    /* center */
    
}
